Create an api.key file and paste your Open Exchange Rates API app ID.
Don't write anything else in this file, remove this comment and every whitespace and add your code below.
Your code should look similar to this:

a02cabaf4e85d42fa5fe6de4df3c7b6e

https://openexchangerates.org/signup

With a free plan, you can send up to 1000 requests per month, and update the conversion rates every hour.
This means that if you set `updateFrequencyHours` in config.json to 1.5 or higher, you will never run out of requests.